{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="flex flex-col gap-4">
<div class="bg-zinc-800 rounded-2xl overflow-hidden shadow basic-border">
    <div
        class="h-64 bg-center bg-cover bg-[radial-gradient(circle_at_center,#1f2937,transparent_70%)]"
        style="background-image: url('https://pbs.twimg.com/profile_banners/383832535/1488939982/1500x500');">
    </div>

    <div class="flex flex-row gap-6 h-28 basic-border-t">

        <img class="rounded-2xl w-40 h-40 shadow-lg self-end mb-4 ml-8" src="{{ user.avatarUrl }}"/>

        <div class="my-auto text-shadow-xs flex flex-col gap-1">
            <span class="text-3xl">{{ user.username }}</span>
            <div class="flex flex-row gap-2">
                <img class="w-7" src="{{ user.countryFlagUrl }}"/>
                <span class="text-lg">{{ user.countryName }}</span>
            </div>
        </div>

    </div>

    <div class="bg-zinc-800 basic-border-t">
        <div class="p-4">
            Joined {{ user.createdAt|date('F j, Y') }}
            {{ user.mappingPoints }} mapping points
        </div>
    </div>
</div>

<div class="bg-zinc-800 rounded-2xl overflow-hidden shadow p-6 basic-border">
    <h1 class="text-2xl">Maps</h1>

    <div class="p-0 rounded-2xl mt-6">
        <div class="grid grid-cols-2 gap-3">
            {% for beatmap in beatmaps %}
                <twig:BeatmapsetCard
                    :beatmapset="beatmap"
                    :storage="storage"
                />
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
