<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">

    <title>My App</title>

    {{ inertiaHead(page) }}
    {{ vite_entry_link_tags('app') }}

    {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
    {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
    {% endif %}
</head>
<body class="bg-zinc-900">
    {{ inertia(page) }}
    {{ vite_entry_script_tags('app') }}
</body>
</html>