{% extends 'base.html.twig' %}

{% set total = beatmapset.likes + beatmapset.dislikes %}
{% set likePercent = total > 0 ? (beatmapset.likes / total * 100) : 50 %}
{% set dislikePercent = 100 - likePercent %}

{% block title %}Hyperspin - {{ beatmapset.title }}{% endblock %}

{% block body %}

<div class="flex flex-col rounded-2xl overflow-hidden shadow basic-border">

    {# header #}
    <div class="relative grid overflow-hidden w-full">
        
        {# banner cover #}
        <div class="absolute inset-0 bg-cover bg-center bg-[radial-gradient(circle_at_center,#1f2937,transparent_70%)]"
            {# style="background-image: url('{{ beatmapset.getBannerUrl(storage) }}');" #}
            >
        </div>

        {# dark overlay so text stays readable #}
        <div class="absolute inset-0" style="background-color: hsla(0, 0%, 0%, 0.2);"></div>

        {# Content #}
        <div class="relative z-10 flex flex-row gap-4 p-4">
            <img class="rounded-lg shadow w-52 h-52" src="{{ beatmapset.getCoverUrl(storage) }}"/>

            <div class="grid content-between text-shadow-lg grow">
                {# title and artist #}
                <div class="flex flex-col">
                    <p class="text-5xl">{{ beatmapset.title }}</p>
                    <p class="text-3xl">{{ beatmapset.artist }}</p>
                </div>

                {# mapper #}
                <div class="flex items-center gap-2.5">
                    <img class="rounded-lg w-16 shadow" src="{{ beatmapset.author.getAvatarUrl() }}"/>
                    <div class="flex flex-col justify-center">
                        <div>
                            mapped by
                            <a class="font-semibold hover:underline" href="{{  path('app_user', {id: beatmapset.author.id}) }}">{{ beatmapset.author.username }}</a>
                        </div>
                        <p>submitted {{ beatmapset.createdAt|date('F j, Y') }}</p>
                    </div>
                </div>
            </div>

            {# box thing #}
            <div class="flex flex-col relative gap-4">

                {# status #}
                <div class="flex mx-auto mr-0">
                    <span class="bg-gray-500 py-2 px-10 text-shadow-sm rounded-3xl font-bold basic-border
                        inline-flex items-center justify-center">
                            ARCHIVE
                    </span>
                </div>

                {# box #}
                <div class="grid grid-cols-2 gap-1">
                    
                    <span class="bg-zinc-800 px-4 p-2 rounded basic-border">
                        <i class="fas fa-download"></i>
                        {{ beatmapset.downloads }}
                    </span>

                    <span class="bg-zinc-800 px-4 p-2 rounded basic-border">
                        <i class="fas fa-heart"></i>
                        {{ beatmapset.favorites }}
                    </span>

                    <div class="col-span-2 bg-zinc-800 p-4 w-80 rounded basic-border">

                        <div class="w-full max-w-sm mx-auto">
                            <div class="flex items-center justify-between mb-2">
                                <button class="flex items-center gap-2 text-green-300">
                                <i class="fas fa-thumbs-up text-lg"></i>
                                <span class="text-sm">{{ beatmapset.likes }}</span>
                                </button>

                                <button class="flex items-center gap-2 text-red-400">
                                <span class="text-sm">{{ beatmapset.dislikes }}</span>
                                <i class="fas fa-thumbs-down text-lg -scale-x-100"></i>
                                </button>
                            </div>

                            <div class="w-full h-2 bg-transparent rounded-full overflow-hidden flex gap-0.5">
                                <div class="bg-green-300 h-full transition-all rounded" style="width: {{ likePercent }}%"></div>
                                <div class="bg-red-400 h-full transition-all rounded" style="width: {{ dislikePercent }}%"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {# Buttons #}
        <div class="z-10 flex flex-row p-4 gap-2 basic-border-t" style="background-color: hsla(0, 0%, 0%, 0.3);">
            <twig:ActionButton
                url="{{  path('app_beatmapsets_download', {id: beatmapset.id}) }}"
                label="Download"
                icon="fa-download"
            />

            <twig:ActionButton
                label="Feature"
                icon="fa-award"
            />

            <div class="grow"></div>

            <twig:ActionButton
                icon="fa-heart"
            />
        </div>
    </div>

    <div class="bg-zinc-800 px-6 py-4 basic-border-t">
        <span class="text-lg font-semibold">
            Description
        </span>
        <div>
            {{ beatmapset.description }}
        </div>
    </div>

</div>


{% endblock %}
