{% extends 'base.html.twig' %}

{% block title %}Hyperspin - {{ beatmapset.title }}{% endblock %}

{% block body %}

{# page thing #}
<div class="flex flex-col mx-auto my-4">
    <div class="flex">
        <div class="flex flex-row gap-4">
            <img class="rounded-lg shadow w-52 h-52" src="{{ beatmapset.getCoverUrl(storage) }}"/>

            <div class="grid content-between py-4">
                    {# title and artist #}
                    <div class="flex flex-col">
                        <p class="text-4xl">{{ beatmapset.title }}</p>
                        <p class="text-3xl">{{ beatmapset.artist }}</p>
                    </div>

                    {# mapper #}
                    <div class="flex items-start gap-2">
                        <img class="rounded-lg w-16 shadow" src="{{ beatmapset.author.getAvatarUrl() }}"/>
                        <div class="flex flex-col justify-center">
                            <div>
                                mapped by
                                <a class="font-semibold">{{ beatmapset.author.username }}</a>
                            </div>
                            <p>submitted June 11, 2026</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
