{% set classes %}
flex items-center justify-between height-4 cursor-pointer
    bg-cyan-600 transition-colors hover:bg-cyan-400
    p-3 px-4 rounded shadow gap-3 h-10
    text-shadow-sm
    items-center
    border border-white/30
{% endset %}

{% set content %}
    {% if label is not null %}
        <span class="flex flex-col justify-center font-semibold">{{ label }}</span>
    {% endif %}
    <span class="text-xl justify-center flex"><i class="m-0 fas {{ icon }}"></i></span>
{% endset %}

{% if url is not null %}
    <a class="{{ classes }}" href="{{ url }}" {{ attributes }}>
        {{ content }}
    </a>
    {% else %}
    <button class="{{ classes }}" type="{{ type }}"
        {{ disabled ? 'disabled' : '' }}
        {{  attributes }}>
        {{  content }}
    </button>
{% endif %}